:root {
    --color-primary: #F2F2F2;
    --color-grey: #454545;
    --color-black-light: #181818;
    --color-grey-light-1: #f0eeee;
    --color-grey-light-2: #ccc;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(156, 63, 63, 0.06);
    --line: 1px solid var(--color-grey-light-2); 
}
  
* {
    margin: 0;
    padding: 0;
 }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

@media screen and (max-width: 768px){
    html {
        font-size: 50%; 
    }
}

body {
    font-family: 'Roboto', sans-serif ;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-black-light);
    overflow-x: hidden;
 }

/*****************************************************************/
 /*****************
 font-family: 'Great Vibes', 🤪
 /***************************************************************/


 header {
    background-color:inherit;
    background-image: url;
    background-size: cover;   
    background-repeat: no-repeat;
    min-height: 25vh;
    background-attachment: fixed;
    padding: 20px;
   
}

.container {
    display:flex;
    min-height: 25vh;

}

.search,
.search-icon ,
.nav-link {
    display:flex;
}

.nav-links { /* nav to the left */
    flex: 0 0 30%;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
 
 
}

.nav-link {
    width: 144px;
	color: #000;
	font-size: 1.4rem;
	letter-spacing: 1px;
	font-weight: 400;
    text-decoration:none;
    text-transform: uppercase;
    margin-bottom: 10px;
    z-index: 9999;
    transition: all .2s;
}
.nav-link:hover,
.nav-link:active {
    color: rgb(255, 255, 255);
    transform: scale(1.01);

}

.logo {
    width: 144px;
    height: 100px;
    cursor: pointer;
}


.nav-users {
    flex: 0 0 30%;

    justify-content: flex-end;
    align-items: flex-end;
}


.nav-links {
	justify-content: space-around;
    list-style: none;
    cursor: pointer;
}



.nav-user {
    display:flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;

    cursor: pointer;  }

.search {
flex: 0 0 10%;

display:flex;
align-items: center;
justify-content:center;
}

.search:focus {
    outline:none;

}

.search-input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: rgb(255, 255, 255);
    border-color: #181818;
    border-style: solid;
    border-width: 0 0  1px 0;
    padding: 5px 2px;
    border: radius 100px;
    width: 15rem;
    margin-bottom: 10px;

}

@media  screen and (max-width: 768px){
    .search-input{ display: none; }
}

.search-input:focus {
    outline:none;
}


@media  screen and (max-width: 768px){
    #deza{ display: none; }
}

.search-input:focus {
    outline:none;
}


.search-button {
    border: none;
    background-color:rgb(255, 255, 255);
   
}

.search-button:focus {
    outline:none;
}

.search-icon{
    width: 20px;
    height: 20px;
    margin: 10px;
    fill: var(--color-black-light);
    cursor: pointer;
    
}

.title-wrap {
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
    }

}
@media screen and (max-width: 768px) {
    .nav-links {
        flex:0 0 90%;
        display: flex;
        justify-content:center;
        align-items: flex-start;

    }

}

@media screen and (max-width: 768px) {
    .nav-users {
        flex:1;
        display: flex;
        justify-content:center;
        align-items: flex-start;

    }

}

.title {
    padding: 50px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.6rem;
    letter-spacing: 3px;
    color: #000;
    line-height: 1;
    text-transform: uppercase;
    
}

.titles {
    flex: 0 0 80%;
    display:flex;
    line-height: 1.6;
    justify-content:center;
    align-items: flex-end;
    text-align: center;
}

.features {
    flex: 0 0  20%;
   display:flex;
   width: 100%;
   justify-content:space-evenly;
   align-items: center;
   padding:10px;
}

.feature {
    align-items: stretch;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: #000;
    text-transform: capitalize;
 
}
/******************************** STICKY NAV-2 👇*******************************/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 9999;

}

.sticky .nav-link {
	color: rgb(8, 8, 8); 
}
.sticky .nav-link:hover {
    color: rgba(129, 119, 96, 0.568);
}

.sticky .search-icon{
    width: 15px;
    fill: var(--color-black);

}

.sticky .search-input {
    background-color: var(--color-primary);
    border-color: #ffffff;
    visibility: hidden;
}

.sticky .search-button {
    border: none;
    background-color: var(--color-black);
   
}

.sticky .title-wrap { display: none}
/******************************** 👇GRID_CONTAINER👇*******************************/ 
.grid-container {
    display: grid;
    width: 75vw;
    margin : 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}


.gallery__img{
    width: 100%;
}

.gallery__item {
    display:flex;
    justify-content:center;
    align-items: center; 
    flex-direction: column;
}


.price-small {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(68, 66, 66);
}




.item-name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;
    color: rgb(68, 66, 66);
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: uppercase;
    padding: 6px;
} 

/******************************** 👇GRID_CONTAINER👇*******************************/ 

/*
.grid-container {
    background-color: inherit; 
    height: auto;
    width: 75vw;
    margin : 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap; 
 
}

.gallery__item {
    width: 40rem;
    height: 50rem;
    cursor: pointer;
}



.gallery__img{
    width: 40rem;
    height: 50rem;
    padding: 4rem 2rem;
    display: flex;
}

.item-price{
    display: flex;

    justify-content:space-between;
    align-items: center; 
    flex-direction: row;
    padding: 0 4rem;
    
}
.price-small {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(68, 66, 66);
}




.item-name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;
    color: rgb(68, 66, 66);
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: uppercase;
    padding: 6px;
} 

/******************************** 👇GRID_CONTAINER👇*******************************/ 



/******************************** FOOTER👇*******************************/ 

footer {
    background-color: #fff;
    width: 100vw;
    height: 5vh;
    display:flex;
    align-items: center;
    border: 1px solid #ddd;
 
}

.copy,
.footer-links,
.footer-icons,
.footer-nav-icons {
    display: flex;

}

.footer-nav {
    flex: 1;
    justify-content: flex;
    align-items: center;
    cursor: pointer;
    
}


.footer-links {
    flex: 2;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    justify-content: space-around;

}

.footer-link {
    font-size: 10px;
    letter-spacing: .5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 300;
    font-family: sans-serif;

    align-items: center;
}


.footer-icons {
    flex: 1;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
 

}

.copy {
    font-weight: 200;
    font-family: sans-serif;
    font-size: 10px;
    letter-spacing: .5px;
    justify-content: flex-end; 
   

 
}

/**************************************************************/
.navigation__checkbox {
    display: none; }
    @media (min-width:768px) {
        .navigation {
            display: none; 
        }
     }

  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 2rem;
    left: 3rem;
    border-radius: 50%;
    z-index: 2000;

    text-align: center;
    cursor: pointer; } 
    @media only screen and (max-width: 23.44em) {
      .navigation__button {
        height: 8rem;
        width: 8rem;
        position: fixed;
        top: 2rem;
        left: 2rem; } }
  
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 2.5rem;
    left: 3.5rem;
    background-image: radial-gradient(#110f10, #0e0d0d);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 1000; }
    @media only screen and (max-width: 23.44em) {
      .navigation__background {
        height: 7rem;
        width: 7rem;
        top: 2.5rem;
        left: 2.5rem; } }
  
  .navigation__nav {
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  
  .navigation__item {
    margin: 1rem; }
  
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Playfair Display';
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 225%;
    transition: all .3s; }
    @media only screen and (max-width: 23.44em) {
      .navigation__link:link, .navigation__link:visited {
        font-size: 8rem; } }
  
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: var(--color-grey-light-4);
    transform: translateX(1rem); }
  
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; 
   }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: black;
      display: inline-block; }
      @media only screen and (max-width: 23.44em) {
        .navigation__icon, .navigation__icon::before, .navigation__icon::after {
          margin-top: 2.5rem;
          height: 2px; } }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(1215deg); }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-1215deg); }
  
  /**************************************************************/
  

